@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    transition: .35s ease;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: #9F1313;
}

section {
    padding: 3.5rem 7%;
}
/* Header Start*/
.header {
    color: #181A1B;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 7%;
    border-radius: 300rem;
    padding: 0 7%;
    position: sticky;
    z-index: 1000;
    top: 0;
}

.header .logo img {
    height: 10rem;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 4rem;
}

.header .navbar a {
    color: #181A1B;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .navbar a:hover {
    border-bottom: 1px solid #9F1313;
}

.header .butonlar {
    display: flex;
    column-gap: 2rem;
}

.header .butonlar button {
    background: none;
    border: none;
    color: #181A1B;
    font-size: 2.2rem;
    cursor: pointer;
}

/*Header End*/
.home {
    height: 100vh;
    color: white;
    background: url(../images/home.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;
}

.content {
    max-width: 60rem;
}

.home .content h3 {
    font-size: 6rem;
}

.home .content p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color: #ccc;
    margin-bottom: 2rem;
}

.btn {
    color: white;
    font-size: 2rem;
    background-color: #07080C;
    border-radius: 30rem;
    padding: 2rem 3rem;
}

.btn:hover {
    opacity: 0.8;
}

.heading {
    text-transform: uppercase;
    font-size: 4rem;
    color: white;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid #fff;
}

.heading span {
    text-transform: uppercase;
    color: #07080C;
}

/* menu start */
.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    background-color: #fff;
    border-radius: 3rem;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 60rem;
}

.menu .box-container .box img {
    width: 100%;
    object-fit: cover;
}

.menu .box-container .box .menu-category {
    font-size: 1.2rem;
}

.menu .box-container .box h3 {
    font-size: 3rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    font-size: 1.6rem;
}

.menu .box-container .box .price span {
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: line-through;
}

.menu .box-container .box .cal {
    font-size: 1.1rem;
    opacity: 0.8;
}

.box-bottom {
    margin-bottom: 3rem;
}
/* Menu End*/
/* Product start*/
.product .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.product .product-container .product-box {
    background-color: #fff;
    text-align: center;
    border-radius: 3rem;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    position: relative;
}

.product .product-container .product-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 10;
}

.product .product-container .product-head .title {
    color: #07080C;
    font-size: 1.4rem;
}

.product .product-container .product-head .name {
    font-size: 4rem;
    color: #07080C;
    font-weight: bold;
    text-align: start;
    overflow-wrap: anywhere;
}

.product .product-container img {
    position: absolute;
    top: 50%;
    width: 100%;
    object-fit: cover;
}

.product .product-container .product-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    font-size: 1.4rem;
}

.product .product-container .product-bottom .product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product .product-container .product-bottom .product-btn {
    padding: 1.3rem;
    border: 3px solid red;
    border-radius: 48%;
    cursor: pointer;
}

.product .product-container .product-bottom .product-btn a {
    color: red;
    font-size: 1.8rem;
}

.product .product-container .product-bottom .product-price {
    font-size: 3rem;
}
/* Product End*/
/* About Start */
.about-us .row {
    display: flex;
    column-gap: 2rem;
}

.about-us .row .image {
    flex: 1 1 45rem;
}

.about-us .row .image img {
    width: 100%;
}

.about-us .content h3 {
    color: #fff;
    font-size: 3rem;
}

.about-us .content p {
    color: #ccc;
    font-size: 1.6rem;
    line-height: 1.8;
    margin-bottom: 3rem;
}
/* About End*/

/* Review Start */
.review .box-container .box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
    border: 1px solid #333;
    width: 100%;
}

.review .box-container .box img {
    border-radius: 50%;
}

.review .box-container .box h3 {
    font-size: 3rem;
}

.review .box-container .box p {
    font-size: 1.5rem;
}

.review .box-container .box i {
    color: yellow;
    font-size: 3rem;
}
/* Review End */